<div class="header">
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="header__toolbar no-select" routerLink="">
      <mat-icon class="header__icon">home</mat-icon>
      <span>Online Shop</span>
    </div>
    <span class="example-spacer"></span>
    <div class="header__toolbar no-select">
      <button mat-flat-button class="header__button" routerLink="">Главная</button>
      <button mat-flat-button class="header__button" routerLink="products">Товары</button>
      <button mat-flat-button class="header__button" routerLink="basket">Корзина</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
</div>
